@font-face {
    font-family: 'gmarket';
    font-weight: 300;
    font-style: normal;
    src: url('https://wefonts.github.io/gmarket/gmarket-Light.eot');
    src: url('https://wefonts.github.io/gmarket/gmarket-Light.eot?#iefix') format('embedded-opentype'),
        url('https://wefonts.github.io/gmarket/gmarket-Light.woff2') format('woff2'),
        url('https://wefonts.github.io/gmarket/gmarket-Light.woff') format('woff'),
        url('https://wefonts.github.io/gmarket/gmarket-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'gmarket';
    font-weight: 500;
    font-style: normal;
    src: url('https://wefonts.github.io/gmarket/gmarket-Medium.eot');
    src: url('https://wefonts.github.io/gmarket/gmarket-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://wefonts.github.io/gmarket/gmarket-Medium.woff2') format('woff2'),
        url('https://wefonts.github.io/gmarket/gmarket-Medium.woff') format('woff'),
        url('https://wefonts.github.io/gmarket/gmarket-Medium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'gmarket';
    font-weight: 700;
    font-style: normal;
    src: url('https://wefonts.github.io/gmarket/gmarket-Bold.eot');
    src: url('https://wefonts.github.io/gmarket/gmarket-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://wefonts.github.io/gmarket/gmarket-Bold.woff2') format('woff2'),
        url('https://wefonts.github.io/gmarket/gmarket-Bold.woff') format('woff'),
        url('https://wefonts.github.io/gmarket/gmarket-Bold.ttf') format("truetype");
    font-display: swap;
}

.gmarket {
    font-family: "lineSeed";
}
.gmarket300 {
    font-family: "gmarket";
    font-weight: 300;
}
.gmarket500 {
    font-family: "gmarket";
    font-weight: 500;
}
.gmarket700 {
    font-family: "gmarket";
    font-weight: 700;
}
